.marketResearchMainContainer {
  margin: auto;
  padding: 30px 0px;
}
.marketResearchBg {
  background-image: url("../../public/marketResearch.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 260px;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 5px 20px 0 rgba(46, 61, 73, 0.1);
}
.titleHeadlineImgBg {
  padding: 50px 0px;
  background: #f9f2ec;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  justify-content: space-between;
}
.marketResearchTitleHeadlineMW {
  max-width: 1180px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0px 20px;
}
.marketResearchTitleBg {
  display: inline-flex;
  background: #d2dae0;
  border-radius: 37px;
  -moz-border-radius: 37px;
  -webkit-border-radius: 37px;
  padding: 10px 25px;
  margin-bottom: 30px;
  width: fit-content;
}
.marketResearchTitleBgText {
  font-weight: 600 !important;
  font-size: 20px !important;
  line-height: 30px !important;
  color: #2d3840 !important;
}
.marketResearchTitle {
  color: #082f4a;
  font-weight: 600 !important;
  font-size: 38px !important;
  max-width: 590px;
  line-height: 60px !important;
}
.marketResearchTextContainerPadding {
  padding: 0px 30px;
}
.marketResearchtextContainer {
  margin-top: 30px !important;
  max-width: 1180px;
  margin: auto;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 5px 20px 0 rgba(46, 61, 73, 0.1);
  padding: 20px;
}
.marketResearchSubtitle {
  margin-top: 15px !important;
  font-weight: 300 !important;
  font-size: 18px !important;
  line-height: 30px !important;
  color: #2d3840 !important;
}
.contactUsContainer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1020px) {
  .marketResearchMainContainer {
    padding: 60px 0px 20px 0px;
  }
  .titleHeadlineImgBg {
    padding: 30px 0px;
  }
  .marketResearchTextContainerPadding {
    padding: 0px 20px;
  }
  .marketResearchTitleHeadlineMW {
    flex-direction: column;
    gap: 30px;
  }
  .marketResearchBg {
    width: auto;
  }
}
@media screen and (max-width: 768px) {
  .marketResearchSubtitle {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .marketResearchTitle {
    font-size: 28px !important;
    line-height: 42px !important;
    max-width: 430px;
  }
  .marketResearchTitleBgText {
    font-size: 18px !important;
  }
  .marketResearchTitleBg {
    margin-bottom: 15px;
    padding: 8px 25px;
  }
  .marketResearchTitleHeadlineMW {
    gap: 15px;
  }
}
@media (max-width: 630px) {
  .marketResearchMainContainer {
    padding: 100px 0px 20px 0px;
  }
  .marketResearchBg {
    height: 200px;
  }
}
@media screen and (max-width: 500px) {
  .marketResearchSubtitle {
    font-size: 16px !important;
    line-height: 26px !important;
  }
  .marketResearchTitle {
    font-size: 22px !important;
    line-height: 32px !important;
    max-width: 330px;
  }
  .marketResearchTitleBgText {
    font-size: 16px !important;
  }
  .marketResearchTitleBg {
    margin-bottom: 15px;
    padding: 5px 25px;
  }
  .marketResearchBg {
    height: 150px;
  }
}
@media screen and (max-width: 400px) {
  .marketResearchBg {
    height: 100px;
  }
}
