.select-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.select-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}