.products-contianer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 24px;

    @media only screen and (max-width: 600px) {
      grid-template-columns: 4fr; /* One column on smaller screens */
    }
  }