.moreValueAddsText {
  font-size: 1.125rem !important;
  line-height: 1.875rem !important;
  margin: 1.1rem 0px 10px !important;
  color: #082f4a !important;
  font-weight: 600 !important;
}
.addsItemMain {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
  overflow-x: auto;
}
.addItemSingelMain {
  background-color: #fff;
  border: 1px solid rgba(109, 103, 89, 0.06);
  border-radius: 8px;
  padding: 1rem;
  text-decoration: none;
  position: relative;
  width: 100%;
  max-width: 296px !important;
  min-width: 213px !important;
  height: 117px !important;
  transition: all 0.2s !important;
  cursor: pointer;
  &:hover {
    background: linear-gradient(
      to right,
      rgb(184, 226, 242) 0%,
      rgb(208, 238, 249) 100%
    ) !important;
    .victorumCapitalText {
      color: #fff !important;
    }
    .learnMoreLink {
      color: #fff !important;
    }
    .catlogsImage {
      background-image: url("../../../public/catlogs-hover.svg");
    }
    .buyLeadsImage {
      background-image: url("../../../public/buy-leads-hover.svg");
    }
    .membershipImage {
      background-image: url("../../../public/membership-hover.svg");
    }
    .bookDomainImage {
      background-image: url("../../../public/book-domain-hover.svg");
    }
    .arrowIconBox {
      background-color: #fff !important;
    }
    .arrowRightIcon {
      color: #082f4a !important;
    }
  }
}
.victorumCapitalText {
  font-weight: 400 !important;
  font-size: 1rem !important;
  line-height: 1.125rem !important;
  letter-spacing: 0.375px !important;
  color: rgb(8, 47, 74) !important;
}
.learnMoreLink {
  color: rgb(51, 85, 127) !important;
  font-weight: 400 !important;
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
}
.victorumCapitalAndLearnMore {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.catlogsImage {
  background-image: url("../../../public/catlogs.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 117px;
  height: 94px;
  transition: background-image 0.2s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.buyLeadsImage {
  background-image: url("../../../public/buy-leads.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 101px;
  height: 92px;
  transition: background-image 0.2s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.membershipImage {
  background-image: url("../../../public/membership.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 117px;
  height: 94px;
  transition: background-image 0.2s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.bookDomainImage {
  background-image: url("../../../public/book-domain.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 116px;
  height: 92px;
  transition: background-image 0.2s ease;
  position: absolute;
  bottom: 0;
  right: 0;
}
.learnMoreAndIcon {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 4px;
}
.arrowIconBox {
  width: 16px;
  height: 16px;
  background-color: rgb(51, 85, 127) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.arrowRightIcon {
  color: #fff;
  width: 10px !important;
  height: 10px !important;
}

@media screen and (max-width: 1200px) {
  .addItemSingelMain {
    min-width: 237px !important;
  }
}
@media screen and (max-width: 1100px) {
  .addsItemMain {
    padding-bottom: 15px;
  }
}
