.imageContainer-big {
    display: flex;
    justify-content: flex-end;
    position: relative;
    height: 200px;
    width: 300px;
  }
  
  /* Media query for small screens */
  @media (max-width: 600px) {
    .imageContainer-big {
      height: 150px !important;
      width: 250px !important;
      margin-top: 3rem;
    }
  }