.selectCountryLabel {
  line-height: 1.334 !important;
  letter-spacing: 0em !important;
  color: #454745 !important;
  font-size: 0.875rem !important;
  font-weight: 200 !important;
  margin-bottom: 6px !important;
}
