.container {
  max-width: 1620px;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}
.navigation-back-icon{
  font-size: 2rem;
}
.arriwals-trusted {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.d-flex{
  display: flex;
}

.ai-center{
  align-items: center;
}

.ai-start{
  align-items: flex-start;
}

.gap-8{
  gap: 8px;
}

.gap-4{
  gap: 4px;
}

.mt-8{
  margin-top: 8px;
}

.justify-space-between{
  justify-content: space-between;
}

.cp {
  cursor: pointer;
}

.footer-main {
  padding-left: 1.6rem;
  padding-right: 1.6rem;

  @media (min-width: 1700px) {
    padding-left: 11rem;
    padding-right: 11rem;
  }
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-3-rem {
  margin-top: 3rem;
}

.mb-3-rem {
  margin-bottom: 3rem;
}

.ta-center {
  text-align: center;
}

.ta-start {
  text-align: start;
}

.mb-2rem {
  margin-bottom: 2rem;
}

.mt-6rem {
  margin-top: 4rem;

  @media (max-width: 650px) {
    margin-top: 10rem;
  }
}

.cp {
  cursor: pointer;
}

.ml-8 {
  margin-left: 8px !important;
}

@media (max-width: 650px) {
  .other-page-wrap-start{
    padding-top: 2rem;
  }
}

.mr-8 {
  margin-right: 8px !important;
}
