.popularLinksMainBox {
  padding: 16px;
  margin: 0px auto 40px;
  max-width: 1082px;
}
.titleText {
  font-size: 20px !important;
  line-height: 28px !important;
  color: rgb(8, 47, 74) !important;
  font-weight: 600 !important;
  margin-bottom: 1rem !important;
}
.linksButton {
  background: rgb(244, 246, 248) !important;
  border-radius: 4px !important;
  color: rgb(94, 115, 132) !important;
  text-decoration: none !important;
  text-transform: none !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  padding: 4px 12px !important;
  margin-bottom: 5px !important;
  display: inline-block !important;
  margin-right: 4px !important;
  transition: all 0.2s !important;
  &:hover {
    background: rgb(45, 56, 64) !important;
    color: rgb(255, 255, 255) !important;
  }
}

@media screen and (max-width: 767px) {
  .popularLinksMainBox {
    padding: 16px 0 16px 0 !important;
  }
  .titleText {
    font-size: 18px !important;
    line-height: 24px !important;
  }
}
