.lookingForProductWantToGrowYourBusinessMain {
  width: 42.42%;
}
.lookingForProductWantToGrowYourBusinessMainBox {
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-x: auto;
  flex-wrap: nowrap;
}
.lookingForProducMainBox {
  background-image: url("../../../public/searchproduct.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // width: 388px;
  min-width: 183px;
  height: 258px;
  border-radius: 10px;
  padding: 20px;
}
.wantToGrowYourBusinessMainBox {
  background-image: url("../../../public/extend.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // width: 388px;
  min-width: 180px;
  height: 258px;
  padding: 20px;
  border-radius: 10px;
}
.lookingForProductText {
  font-size: 1rem !important;
  color: rgb(45, 56, 64) !important;
  margin-bottom: 20px !important;
}
.wantToGrowYourBusinessText {
  font-size: 1rem !important;
  color: #fff !important;
  margin-bottom: 20px !important;
}
.postByText {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  color: rgb(38, 92, 129) !important;
  font-weight: 400 !important;
  padding-right: 5px;

  @media screen and (max-width: 1250px) {
    font-size: 0.775rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 963px) {
    font-size: 0.675rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 848px) {
    font-size: 0.600rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 767px) {
    font-size: 0.675rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 570px) {
    font-size: 0.575rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 476px) {
    font-size: 0.475rem !important;
    line-height: 1rem !important;
  }
  @media screen and (max-width: 420px) {
    font-size: 0.400rem !important;
    line-height: 1rem !important;
  }
}
.requirementText {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  color: rgb(38, 92, 129) !important;
  font-weight: 600 !important;
}
.wantToGrowText {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  color: #fff !important;
  font-weight: 400 !important;
  padding-right: 5px;

  @media screen and (max-width: 1050px) {
    font-size: 0.675rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 1250px) {
    font-size: 0.775rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 963px) {
    font-size: 0.675rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 848px) {
    font-size: 0.600rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 767px) {
    font-size: 0.675rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 570px) {
    font-size: 0.575rem !important;
    line-height: 1rem !important;
  }

  @media screen and (max-width: 476px) {
    font-size: 0.475rem !important;
    line-height: 1rem !important;
  }
  @media screen and (max-width: 420px) {
    font-size: 0.400rem !important;
    line-height: 1rem !important;
  }
}
.trandeIndiaText {
  font-size: 0.875rem !important;
  line-height: 1.25rem !important;
  color: #fff !important;
  font-weight: 600 !important;
}
.lookingForProBtn {
  border: 1px solid rgb(38, 92, 129) !important;
  height: 48px;
  text-transform: none !important;
  border-radius: 8px !important;
  transition: all 0.2s !important;
  &:hover {
    background-color: rgb(253, 255, 219) !important;
  }

  @media screen and (max-width: 1100px) {
    height: 28px;
  }

  @media screen and (max-width: 437px) {
    height: 20px;
    border:  0.5px solid rgb(38, 92, 129) !important;
  }
}
.wantToGrowBtn {
  border: 1px solid #fff !important;
  height: 48px;
  text-transform: none !important;
  border-radius: 8px !important;
  transition: all 0.2s !important;
  &:hover {
    background-color: rgb(159, 18, 18) !important;
  }

  @media screen and (max-width: 1100px) {
    height: 28px;
  }

  @media screen and (max-width: 437px) {
    height: 20px;
    border:  0.5px solid white !important;
  }
}

@media screen and (max-width: 1250px) {
  .lookingForProducMainBox {
    height: 217px;
  }
  .wantToGrowYourBusinessMainBox {
    height: 217px;
  }
}
@media screen and (max-width: 1050px) {
  .lookingForProducMainBox {
    height: 192px;
  }
  .wantToGrowYourBusinessMainBox {
    height: 192px;
  }
}
@media screen and (max-width: 800px) {
  .lookingForProBtn {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
@media screen and (max-width: 767px) {
  // .lookingForProBtn {
  //   border: 1px solid rgb(38, 92, 129) !important;
  //   height: 28px;
  //   text-transform: none !important;
  //   border-radius: 8px !important;
  //   transition: all 0.2s !important;
  //   &:hover {
  //     background-color: rgb(253, 255, 219) !important;
  //   }
  // }
  // .wantToGrowBtn {
  //   display: none !important;
  // }
  .lookingForProductWantToGrowYourBusinessMainBox {
    flex-direction: row !important;
  }
  .wantToGrowYourBusinessMainBox {
    width: 100% !important;
    height: 166px !important;
    background-position: bottom !important;
  }
  .lookingForProducMainBox {
    width: 100% !important;
    height: 166px !important;
  }
  .lookingForProductWantToGrowYourBusinessMain {
    width: 100% !important;
  }
  .wantToGrowYourBusinessText {
    font-size: 13px !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 500px) {
  .wantToGrowYourBusinessMainBox {
    height: 116px !important;
    padding: 10px !important;
  }
  .lookingForProducMainBox {
    height: 116px !important;
    padding: 10px !important;
  }
  .wantToGrowYourBusinessText {
    font-size: 11px !important;
    margin-bottom: 10px !important;
  }
  .lookingForProductText {
    font-size: 12px !important;
    margin-bottom: 10px !important;
  }
  .lookingForProductWantToGrowYourBusinessMainBox {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 427px) {


  .wantToGrowYourBusinessText {
    font-size: 10px !important;
    margin-bottom: 10px !important;
  }

}
