.top-box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(45, 56, 64);
  box-shadow: rgba(109, 103, 89, 0.06) 0px 2px 30px 9px;
  font-size: 12px;
  border-radius: 8px;
  padding: 40px;

  @media only screen and (max-width: 400px) {
    padding: 20px;
  }

  margin-bottom: 40px;
}

.two-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;

  @media only screen and (max-width: 1200px) {
    width: 60%;
  }
  @media only screen and (max-width: 800px) {
    width: 100%;
  }
}

.follow-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30%;

  @media only screen and (max-width: 1200px) {
    display: none;
  }
}

.btn-container {
  @media only screen and (max-width: 800px) {
    display: none;
  }
}

.btn-container-big {
    margin-top: 2rem;
    @media only screen and (min-width: 800px) {
        display: none;
      }
}

.follow-us-down {
  display: none;

  h3 {
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }

  @media only screen and (max-width: 1200px) {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
  }

  @media only screen and (max-width: 556px) {
    width: 60%;
  }
}

.main-container-top {
  margin-bottom: 2rem;
}
