.topCategoriesMainBox {
  position: relative;
  max-width: 245px;
  width: 100%;
  padding-left: 12px;
  padding-right: 4px;
}
.topCategoriesBox {
  background-color: #fff;
  border-radius: 8px;
  padding: 1rem 0.75rem;
  box-shadow: rgba(109, 103, 89, 0.06) 0px 2px 30px 9px;
}
.topCategoryText {
  margin-bottom: 16px !important;
  font-size: 1.125rem !important;
  font-weight: 600 !important;
  color: #082f4a !important;
  line-height: 1.5rem !important;
}
.itemsMainBox {
  display: flex;
  flex-direction: column;
  gap: 12.62px;
}
.topCategoriesItem {
  font-weight: 400 !important;
  color: #4f5f6d !important;
  font-size: 0.875rem !important;
  line-height: 1.313rem !important;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap !important;
  transition: all 0.2s !important;
  &:hover {
    opacity: 0.7 !important;
  }
}
.viewAllCategoriesLink {
  font-weight: 500 !important;
  font-size: 0.875rem !important;
  line-height: 1.5rem !important;
  text-decoration: underline !important;
  text-decoration-color: rgb(225, 119, 26) !important;
  color: rgb(225, 119, 26) !important;
  cursor: pointer !important;
  margin-top: 1.5rem !important;
  transition: all 0.2s !important;
  &:hover {
    opacity: 0.7 !important;
  }
}
.itemAndImageBox {
  display: flex;
  cursor: pointer !important;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  height: 1.938rem;
}
.popupBox {
  position: absolute;
  border-radius: 8px;
  top: 0;
  width: 650px;
  height: 620px;
  background-color: #fff;
  padding: 15px;
  box-shadow: rgba(109, 103, 89, 0.06) 0px 2px 30px 9px;
  z-index: 99;
  transform: translate(36%, 8%);
}

@media screen and (max-width: 1399px) {
  .topCategoriesMainBox {
    padding-left: 0;
  }
  .popupBox {
    transform: translate(38%, 8%);
  }
}
@media screen and (max-width: 1200px) {
  .topCategoriesMainBox {
    display: none;
  }
}
